html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  height: 100%;
  width: 100%; }

body {
  background: #030005;
  color: #FCFADE;
  font-family: Arial;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; }

.content {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .content.keyboard {
    width: 429px;
    margin-left: -33px; 
    margin-top: 15%;
  }

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 245px;
  border: 2px solid white;
  margin: 3px;
  user-select: none;
  cursor: pointer; }
  .key:hover {
    background: rgba(255, 255, 255, 0.1); }
  .key.on {
    background: #FCFADE;
    color: #030005; }
    .key.on.ebony {
      background: #30FBE6;
      color: #030005; }
  .key.ebony {
    border-color: #30FBE6;
    color: #30FBE6; }
  .key.choice {
    max-height: 25px;
    padding: 8px;
    margin-top: 5%;
    border-color: #F92725;
    color: #F92725;
    width: 100%; }

.stop {
  background: #F92725;
  width: 25px;
  height: 25px; }

.play {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 22px solid #30FB78; }

.choices {
  width: 50%; }

.message-2-u {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }

.key.singlet {
  box-sizing: border-box;
  width: 33px;
  height: 33px;
  border: 1px solid #FCFADE;
  font-size: 12px;
  margin: 2px; }
  .key.singlet:nth-child(2) {
    margin-left: 16.5px; }
  .key.singlet:nth-child(3) {
    margin-left: 33px; }

.triplet {
  width: 69px;
  height: 109px;
  margin-left: -33px; }
  .triplet:first-child {
    margin-left: 0px; }

.last-singlet {
  position: relative;
  top: -70px;
  right: -4px; }
