@import 'reset';

$cyan: #30FBE6;
$black: #030005;
$white: #FCFADE;
$green: #30FB78;
$red: #F92725;

html {
  height: 100%;
  width: 100%;
}

body {
  background: $black;
  color: $white;
  font-family: Arial;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.content {
  margin-top: 100px;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  &.keyboard {
    width: 450px;
  }
}


.key {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 45px;
  min-height: 45px;
  max-height: 245px;
  border: 2px solid white;
  margin: 3px;
  user-select: none;
  cursor: pointer;

  &:hover {
    background: rgba(255,255,255,.1);
  }

  &.on {
    background: $white;
    color: $black;

    &.ebony {
      background: $cyan;
      color: $black;
    }
  }
  &.ebony {
    border-color: $cyan;
    color: $cyan;
  }
  &.choice {
    max-height:25px;
    padding: 8px;
    margin-top: 5%;
    border-color: $red;
    color: $red;
  }
}


.stop {
  background: $red;
  width: 25px;
  height: 25px;
}

.play {
  width: 0; 
  height: 0; 
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 22px solid $green;
}

.choices {
  width: 50%;
}

.message-2-u {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.key.singlet {
  max-width: 33px;
  min-width: 33px;
  max-height: 33px;
  min-height: 33px;
  border: 1px solid $white;
  font-size: 12px;
  margin: 1px;

  &:nth-child(1) {
    margin-left: 11px;
  }
  &:nth-child(2) {
    margin-left: 22px;
  }
  &:nth-child(3) {
    margin-left: 33px;
  }
}

.triplet {
  width: 69px;
  height: 109px;
  margin-left: -33px;
  &:first-child {
    margin-left: 0px;
  }
}




