@import 'reset';

$cyan: #30fbe6;
$black: #030005;
$white: #fcfade;
$green: #30fb78;
$red: #f92725;
$blue: rgb(0, 25, 256);

$singlet-size: 33px;

body {
  font-family: Arial;
  color: $white;
  background-color: $black;
}

.content {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.keyboard {
  width: ($singlet-size * 13);
}

nav {
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px $blue;
  padding: 0 1em;
}

#divisions {
  max-width: 2em;
  border: none;
  background-color: $black;
  color: white;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 245px;
  border: 2px solid white;
  margin: 3px;
  user-select: none;
  cursor: pointer;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  &.on {
    background: $white;
    color: $black;

    &.ebony {
      background: $cyan;
      color: $black;
    }
  }
  &.ebony {
    border-color: $cyan;
    color: $cyan;
  }
  &.choice {
    max-height: 25px;
    padding: 8px;
    margin-top: 5%;
    border-color: $red;
    color: $red;
    width: 100%;
  }
}

.stop {
  background: $red;
  width: 25px;
  height: 25px;
}

.play {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 22px solid $green;
}

.choices {
  width: 50%;
}

.message-2-u {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.key.singlet {
  box-sizing: border-box;
  width: $singlet-size;
  height: $singlet-size;
  border: 1px solid $white;
  font-size: $singlet-size / 2.75;
  margin: 2px;

  &:nth-child(2) {
    margin-left: $singlet-size/2;
  }
  &:nth-child(3) {
    margin-left: $singlet-size/1;
  }
}

.triplet {
  width: ($singlet-size * 2) + 3;
  height: ($singlet-size * 3) + 10;
  margin-left: -$singlet-size; // allows overlap
  &:first-child {
    margin-left: 0px;
  }
}

.last-singlet {
  position: relative;
  top: -70px; // 66 + 4
  right: -4px;
}
